
.instruction {
    font-family: "Open Sans";
}

.button {
    color: white;
    background-color: #0967d2;
    width: 150px;
    height: 40px;
    border-width: 0;
    border-radius: 25px;
    margin: 15px;
}

.bg-container {
    height: 100vh;
}
